body {
    background-image: url("../img/background.jpeg");
    padding: 30px;
    font-size: large;
    font-family:fantasy;
    font-weight: bold;
}

.game{
    max-width: fit-content;
    margin: auto;
}

.start{
    display: table;
    margin: auto;
}

form{
    background: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 10px;
}

.playBtn{
    color: white;
    font-size: large;
    font-family:fantasy;
    font-weight: bold;
    background: green;
    padding: 5px;
}

.disappear{
    display: none;
}

.card{
    display: inline-block;
    border-radius: 10px;
    width: 100px;
    height: 150px;
    background: white;
    box-shadow: 5px 5px 5px;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: large;
}

.unknown{
    background-image: url('../img/unknown.jpeg');
    
}

.topLeftFace{
    margin-left: 10px;
    margin-top: 5px;
}
.topLeftSuit{
    margin-left: 10px;
    margin-top: -20px;
}

.bottomRightFace{
    margin-left: 80px;
    margin-top: -20px;
}
.bottomRightSuit{
    margin-left: 80px;
    margin-top: 60px;
}

.red{
    color: red;
}

.black{
    color: black;
}

.computer{
    /* display: block;
    margin: auto;
    height: 40%;
    width: 10%; */
    margin-left: auto;
    margin-top: 30px;

}

.user{
    margin-top: 30px;
}
.userScore{
    margin-top: 80px;
}

h4{
    background-color: white;
    box-shadow: 7px 7px 7px;
    text-align: center;
    padding: 2px;
    width: 300px;
}

button {
    background: white;
    border-style: inset;
    border-width: medium;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 16px;
    font-family:fantasy;
    font-weight: bold;
    width: 70px;
    text-align: center;
}


.hit{
    color: red;
    border-color: red;
    margin-top: 30px;
}

.stand{
    color: black;
    border-color: black;
    margin-top: 30px;
}

.result{
    color: red;
    font-size: xx-large;
    border-style: dashed;
    border-color: darkred;
    padding: 4px;
}